[color]
	ui = auto
[credential]
	helper = osxkeychain
[core]
	editor = vim
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Winston Henke
	email = winstonhenke@gmail.com
