{
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "**/*.md",
      "options": { "parser": "markdown" }
    },
    {
      "files": "**/.prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
